# HuggingFace
HUGGINGFACEHUB_API_TOKEN=

# Azure OpenAI GPT4o
AZURE_OPENAI_ENDPOINT_GPT4o=
AZURE_OPENAI_KEY_GPT4o=
AZURE_OPENAI_DEPLOYMENT_NAME_GPT4o=
AZURE_OPENAI_API_VERSION_GPT4o=


# Azure OpenAI GPT4omini
AZURE_OPENAI_ENDPOINT_GPT4omini=
AZURE_OPENAI_KEY_GPT4omini=
AZURE_OPENAI_DEPLOYMENT_NAME_GPT4omini=
AZURE_OPENAI_API_VERSION_GPT4omini=
# ... (and so on for all other models)